/*
----------------------------------------------------------------------------------------------------
  Colour Games Styles
----------------------------------------------------------------------------------------------------
*/

/*
-----------------
  general-styles
-----------------
*/
.hidden {
  display: none;
}
.simple-border {
    border: 1px solid #b9b9b9;
}

/* content wrapper*/
div.content-wrapper {
    width: 700px;
    height: 576px;
    display: block;
    border: 1px solid #b9b9b9;
    margin: 10% auto;
    box-sizing: border-box;
    padding: 43px 0;
}

/*
-----------------
  board
-----------------
*/

section.card-board,
aside {
    margin: 10px;
    display: inline-block;
    float: left;
}
aside {
    width: 200px;
}
section.card-board {
    width: 391px;
    min-height: 424px;
    padding: 10px;
    box-sizing: border-box;
}
section.card-board ul.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}
section.card-board[data-game-status="over"] ul.cards {
  display: none;
}
section.card-board[data-game-status="active"] div.gameover {
  display: none;
}
section.card-board[data-game-status="over"] div.gameover {
  display: block;
}
section.card-board[data-game-status="over"] div.gameover p {
  color: #555;
  margin: 15% auto 18px;
  font-size: 38px;
  text-align: center;
}
section.card-board[data-game-status="over"] div.gameover form {
  padding: 20px;
  text-align: center;
}
section.card-board[data-game-status="over"] div.gameover form label {
  display: block;
  margin: 10px;
}
section.card-board[data-game-status="over"] div.gameover form button {
  padding: 5px 19px;
}
section.card-board ul.cards li.card {
  border: 1px solid #bbb;
  width: 80px;
  height: 100px;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  background-image: url('images/card_bg.gif');
}
section.card-board ul.cards li.card a {
    width: 100%;
    height: 100px;
    display: block;
    cursor: pointer;
}
section.card-board ul.cards li.card.flipped {
    box-shadow: 1px 1px 7px #000;
}
section.card-board ul.cards li.card:focus {
  outline: 3px solid #3559F6;
}
section.card-board ul.cards li.card.flipped {
      cursor: default;
}

/* colors */
section.card-board ul.cards .card.flipped[data-color="c1"] {
  background-image: url('images/colour1.gif');
}
section.card-board ul.cards .card.flipped[data-color="c2"] {
  background-image: url('images/colour2.gif');
}
section.card-board ul.cards .card.flipped[data-color="c3"] {
  background-image: url('images/colour3.gif');
}
section.card-board ul.cards .card.flipped[data-color="c4"] {
  background-image: url('images/colour4.gif');
}
section.card-board ul.cards .card.flipped[data-color="c5"] {
  background-image: url('images/colour5.gif');
}
section.card-board ul.cards .card.flipped[data-color="c6"] {
  background-image: url('images/colour6.gif');
}
section.card-board ul.cards .card.flipped[data-color="c7"] {
  background-image: url('images/colour7.gif');
}
section.card-board ul.cards .card.flipped[data-color="c8"] {
  background-image: url('images/colour8.gif');
}
section.card-board ul.cards .card[data-status="pair-found"] {
  display: none;
}

/*
-----------------
  side section
-----------------
*/

/* ---- logo ---- */
img.logo,
div.game-info,
div.controls {
    margin-bottom: 17px;
}

/* ---- game info ---- */
div.game-info {
    width: 100%;
    height: 323px;
    display: block;
    overflow: hidden;
}
dl.actual-game {
  margin: 15px 0;
  padding: 10px;
}
dl.actual-game dt,
dl.actual-game dd {
  margin: 3px 0px;
  display: inline-block;
}
dl.actual-game dt {
  font-weight: bold;
  width: 55%;
}
dl.actual-game dd {
  width: 40%;
}
div.game-info h4 {
  margin: 10px;
}
div.game-info ol.players {
  overflow: scroll;
  max-height: 177px;
}
div.game-info ol.players li {
    margin: 10px 0;
}

/* ---- controls ---- */
div.controls button.restart {
  width: 100%;
  cursor: pointer;
  padding: 13px;
  font-size: 15px;
}
div.controls button.restart:hover {
  box-shadow: 1px 1px 5px #b9b9b9;
}
div.controls button.restart:active {
  box-shadow: 1px 1px 5px #000;
}
div.controls button.restart:focus {
  outline: 3px solid #3559F6;
}

